---
import { Image } from "astro:assets";
import type { EducationItem } from "../interfaces/educationItem";

interface Props {
  educationItem: EducationItem;
}

const { educationItem } = Astro.props;
---

<div
  class="flat-border-with-shadow flex items-center gap-4 rounded-xl p-4 md:p-6"
>
  <div
    class="flat-border flex size-14 shrink-0 items-center justify-center rounded-lg md:size-20"
  >
    <Image
      alt={`Logo ${educationItem.university.name}`}
      src={educationItem.university.logoSrc}
      class="size-10/12 rounded"
      width={80}
      height={80}
    />
  </div>
  <div class="flex flex-col gap-1">
    <div class="font-medium">{educationItem.name}</div>
    <div>
      <a href={educationItem.university.websiteUrl} target="_blank">
        {educationItem.university.name}
      </a>
    </div>
    <div class="text-sm text-olive-600 dark:text-olive-400">
      {educationItem.period}
    </div>
  </div>
</div>
