---
import type { AgencyExperience } from "../interfaces/agencyExperience";

interface Props {
  agencyExperience: AgencyExperience;
}

const { agencyExperience } = Astro.props;
---

<div class="flat-border-with-shadow flex flex-col gap-1 rounded-xl p-6">
  <div class="font-medium">{agencyExperience.name}</div>
  <div class="text-sm">
    <a href={agencyExperience.company.websiteUrl} target="_blank">
      {agencyExperience.company.name}
    </a>
  </div>
  <div class="text-sm text-olive-600 dark:text-olive-400">
    {agencyExperience.location}
  </div>
  <div class="text-sm text-olive-600 dark:text-olive-400">
    {agencyExperience.period}
  </div>
</div>
